#pycharm
.idea/

#macos
.DS_Store
.AppleDouble
.LSOverride
*~
~*

#python
__pycache__/
*.py[cod]


#project
/static/

#приватные настройки
intranet/production.py

/temp/
#/media/storage/files/
/media/storage/
/media/storage_ext/

^/temp/beeline/
/utils/cloudpbx/temp/
/utils/cloudpbx/WAV/
/utils/cloudpbx/out/
/.python-version
/ssh_media/
/scripts/output/
/timeit.log
/logistics/static/libs/.sass-cache/
/utils/nasko_kbm/geckodriver.log
/utils/nasko_kbm/cookie/

/utils/grub_autonet/profile/
/utils/osago_api/selenium_tests/geckodriver.log

celerybeat.pid
celerybeat-schedule.db

#.python-version

party_site/db.sqlite3
